main {
  max-width: 600px;
}

aside {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f4f4f4;
  color: #333;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
}
