nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  color: white;
  padding: 10px;
  display: block;
}

h1 {
  color: #333;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

main img {
  width: 150px;
  height: auto;
  border: 2px solid #ccc;
  padding: 5px;
  box-shadow: 0 0 10px #ccc;
}

aside {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f4f4f4;
  color: #333;
}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
}
