/* temple.css */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 1em 0;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h1 {
  color: #003366;
}

img {
  display: block;
  margin: 20px auto;
  width: 60%;
  border-radius: 10px;
}

footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 10px;
}
